.content-container {
  margin: 0 auto;
  padding: 0 $m-size;
  max-width: 100rem;
  padding-top: 10px;
  width: 100%;
}

.content-container-tasks{
  @extend .content-container;
  padding-bottom: 0;
}

.content-flex-holders{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
  }
}

.base-background{
  background-color: #f5f5f5;
  //background: url("/images/bg.jpg") center center no-repeat;
}

.purchased-fin-details{
  display: block;
}

.tasks-list{
  display: inline-block;
}

.sold-fin-details{
  display: block;
}

.level-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
