.text-input {
  border: 1px solid #cacccd;
  height: 50px;
  font-size: $font-size-large;
  font-weight: 300;
  padding: $s-size;
}

.small-margin-bottom{
  margin-bottom: $s-size;
}

.select {
  @extend .text-input;
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

.textarea {
  @extend .text-input;
  height: 10rem;
}

.checkBoxTasks{
  float: right;
  margin-right: 10rem;
}


/* The container */
.container-cb {
  margin-right: 5.0rem;
  right: 0px;
  display: inline-block;
  position: absolute;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: right;
}

/* Hide the browser's default checkbox */
.container-cb input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid darkgrey;
}

/* On mouse-over, add a grey background color */
.container-cb:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-cb input:checked ~ .checkmark {
  background-color: #000000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-cb input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-cb .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox-parent-container{
  display: block;
  position: relative;
}

.checkbox-labels{
  font-size: 1.5rem; 
  display: inline-block;
}